@page
@model IndexModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<IndexModel> loc
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Country</h1>
<p><strong>CountryId:</strong>@loc["CountryId"]</p>
<p><strong>CountryCode:</strong>@loc["CountryCode"]</p>
<p><strong>CountryName:</strong>@loc["CountryName"]</p>
<p><strong>Latitude:</strong>@loc["Latitude"].ToString()</p>
<p><strong>Longitude:</strong>@loc["Longitude"].ToString()</p>